<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}" />
  </head>
  <body>

    <div class="titulo">
      <h1 class="escrita">Melhores Restaurantes</h1>
    </div>

    <div>
      <button class="open-modal" onclick="openModal()">☰</button>

      <div class="modal" id="menuModal">
        <div class="modal-content">
          <button class="close-modal" onclick="closeModal()">×</button>
          <h2>Menu</h2>
          <div class="menu">
            <a href="{{ url_for('home') }}">Home</a>
            {% if session.get('usuario_id') %}
            <a href="{{ url_for('perfil') }}">Perfil</a>
            {% else %}
            <a href="{{ url_for('cadastro') }}">Cadastro</a>
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <script>
      function openModal() {
        document.getElementById("menuModal").style.display = "flex";
      }

      function closeModal() {
        document.getElementById("menuModal").style.display = "none";
      }
    </script>

    <main class="content">
      <div class="div_background">
        <div class="highlights">
          <div class="restaurant-list">
            {% for restaurante in restaurantes %}
            
            
            <div class="restaurant-card">
              <img
                class="fotos_restaurante"
                src="{{ restaurante.fotos[0] }}"
                alt="{{ restaurante.nome }}" />
              
              <div class="nome_restaurante">
                <a href="{{ url_for('restaurante', restaurante_id=restaurante.id) }}">
                  {{ restaurante.nome }}
                </a>
              </div>

              <!-- <div class="descricao">
                {% if restaurante.descricao %}
                <p >{{ restaurante.descricao }}</p>
                {% endif %}
              </div>   -->

              <p class="estrelas">⭐ {{ restaurante.avaliacoes }} / 5</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="search_fundo">
          <div class="search">
            <h2>Busque por um Restaurante 🔎</h2>
            <form action="/buscar" method="GET">
              <input
                type="text"
                name="q"
                placeholder="Digite o nome ou localização" />
              <button type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2025 Recomendações de Restaurantes</p>
    </footer>

  </body>
</html>