<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}" />
  </head>
  <body>
    <div class="titulo">
      <h1 class="escrita">Melhores Restaurantes</h1>
    </div>

    <p class="texto">
      Descubra os <span>melhores restaurantes</span> de Brasília em um só lugar! ⭐️🍽️  
      <br> Encontre <span >avaliações autênticas</span>, <span>descrições detalhadas</span> e escolha o local perfeito para sua próxima refeição.  
      <br> Seja um <span>café aconchegante</span>, um <span>bistrô sofisticado</span> ou aquele <span>achado gastronômico</span>, temos tudo para você explorar!
    </p>

    <div>
      <button class="open-modal" onclick="openModal()">☰</button>

      <div class="modal" id="menuModal">
        <div class="modal-content">
          <button class="close-modal" onclick="closeModal()">×</button>
          <h2>Menu</h2>
          <div class="menu">
            <a href="{{ url_for('home') }}">Home</a>
            {% if session.get('usuario_id') %}
            <a href="{{ url_for('perfil') }}">Perfil</a>
            {% else %}
            <a href="{{ url_for('cadastro') }}">Cadastro</a>
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <script>
      function openModal() {
        document.getElementById("menuModal").style.display = "flex";
      }

      function closeModal() {
        document.getElementById("menuModal").style.display = "none";
      }

    </script>

    <main class="content">
      <div class="div_background">
        <div class="highlights">
          <div class="restaurant-list">
            {% for restaurante in restaurantes %}

            <div class="restaurant-card">
              <img
                class="fotos_restaurante"
                src="{{ restaurante.fotos[0] }}"
                alt="{{ restaurante.nome }}" />

              <div class="nome_restaurante">
                <a
                  href="{{ url_for('restaurante', restaurante_id=restaurante.id) }}">
                  {{ restaurante.nome }}
                </a>
              </div>

              <div class="descricao">
                {% if restaurante.descricao %}
                <p >{{ restaurante.descricao }}</p>
                {%else%}
                <p >{{ restaurante.endereco }}</p>
                <p >{{ restaurante.tipo }}</p>
                <p >{{ restaurante }}</p>
                {% endif %}
              </div>  

              <p class="estrelas">⭐ {{ restaurante.avaliacoes }} / 5 </p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="search_fundo">
          <div class="search">
              <h2>Busque por um Restaurante</h2>
              <input type="text" id="search" placeholder="Buscar restaurante..." required>
              <select id="tipo_comida">
                <option value="">Todos os Tipos</option>
              </select>
              <ul id="resultados"></ul> 
          </div>
      </div>
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2025 Recomendações de Restaurantes</p>
    </footer>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  </body>
</html>
