<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="stylesheet" href="/static/css/perfil.css" />
  </head>
  <body>
    <div id="box_titulo">
      <h1 class="escrita">{{ usuario.name }}</h1>
      <button class="open-modal" onclick="openModal()">☰</button>

      <div class="modal" id="menuModal">
        <div class="modal-content">
          <button class="close-modal" onclick="closeModal()">×</button>
          <h2>Menu</h2>
          <div class="menu">
            <a href="/">Home</a>
            <a href="/">Login</a>
          </div>
        </div>
      </div>
    </div>
    <script>
      function openModal() {
        document.getElementById("menuModal").style.display = "flex";
      }

      function closeModal() {
        document.getElementById("menuModal").style.display = "none";
      }
    </script>

    <main class="content">
      <section class="profile-info">
        <img
          src="/static/images/user-avatar.png"
          alt="Foto de perfil"
          class="avatar" />
        <h2 class="profile-username">{{ usuario.username }}</h2>
        <p class="profile">📧 Email: {{ usuario.email }}</p>
        <p class="profile">📃 Biografia: {{ perfil.bio }}</p>
        <p class="profile">⭐ Avaliações feitas: 10</p>
      </section>

      <section class="favorites">
        <h2>🍽️ Restaurantes Favoritos</h2>
        <ul>
          <div>⭐ Restaurante 1</div>
          <div>⭐ Restaurante 2</div>
          <div>⭐ Restaurante 3</div>
        </ul>
      </section>

      <section class="reviews">
        <h2>💬 Últimas Avaliações</h2>
        <div class="comment">
          <strong>Restaurante X:</strong> "Comida excelente!"
        </div>
        <div class="comment">
          <strong>Restaurante Y:</strong> "Ambiente aconchegante."
        </div>
      </section>
    </main>

    <div class="account-settings">
      <button class="change-password">Alterar Senha</button>
      <button class="edit-username">Alterar Username</button>
      <button class="delete-account">Excluir Conta</button>
      <a class="botao_logout" href="{{ url_for('logout') }}">Sair</a>
    </div>

    <script src="/static/js/perfil.js"></script>
  </body>
</html>
